In [1]:
import requests # type: ignore
import json
import csv
import pandas as pd
import numpy as np

In [2]:
# Load and read json file
with open("request_data.json", "r") as file:
    request_data = json.load(file)

wanted_list = request_data["url"]
request_headers = request_data["headers"]

In [3]:
# Get session
session = requests.Session()
response = session.get(url=wanted_list, headers=request_headers)
data = json.loads(response.text)
session.close()

In [4]:
# Extract base information
name_wanted = [item["title"] for item in data["items"]]
age_max_wanted = [item["age_max"] for item in data["items"]]
age_min_wanted = [item["age_min"] for item in data["items"]]
sex_wanted = [item["sex"] for item in data["items"]]

# Extract category information
occupation_wanted = [item["occupations"] for item in data["items"]]
location_wanted = [item["locations"] for item in data["items"]]
place_of_birth_wanted = [item["place_of_birth"] for item in data["items"]]
subjects_wanted = [item["subjects"] for item in data["items"]]

# Extract other information
details_wanted = [item["details"] for item in data["items"]]

In [5]:
# Transform data extract
data_dict = {"name": name_wanted, "age_max": age_max_wanted, "age_min": age_min_wanted,
    "sex": sex_wanted, "occupation": occupation_wanted, "location": location_wanted,
    "place_of_birth":place_of_birth_wanted, "subjects": subjects_wanted, "details":details_wanted}

df = pd.DataFrame(data_dict)
df = df.replace("Null", np.nan)

df["details"] = df["details"].str.replace("<p>", "").str.replace("</p>","")
df["age_max"] = df["age_max"].astype(float)
df["age_min"] = df["age_min"].astype(float)
df["age_max"] = pd.to_numeric(df["age_max"], errors='coerce').astype('Int64')
df["age_min"] = pd.to_numeric(df["age_min"], errors='coerce').astype('Int64')

In [6]:
print(df.head())

                                                name  age_max  age_min  \
0             JESUS DE LA CRUZ - LYNN, MASSACHUSETTS        6        6
1                         BORIS YAKOVLEVICH LIVSHITS     <NA>     <NA>
2                                 AARON PAUL VICTORY     <NA>     <NA>
3  IDA DEAN (RICHARDSON) ANDERSON - ANN ARBOR, MI...       21       21
4                         HUYEN TRANG TEMPLE - ARSON     <NA>     <NA>

      sex             occupation location     place_of_birth  \
0    Male                   None     None               None
1    Male  [Electrical Engineer]     None  Leningrad, Russia
2    Male                   None     None           Oklahoma
3  Female                   None     None               None
4    None                   None     None               None

                      subjects  \
0      [ViCAP Missing Persons]
1        [Counterintelligence]
2  [Additional Violent Crimes]
3      [ViCAP Missing Persons]
4        [Seeking Information]

                                             details
0  Jesus de la Cruz was last seen on September 28...
1                                               None
2                                               None
3  Ida Dean (Richardson) Anderson, a 21-year-old ...
4  On November 5, 2023, the Huyen Trang Temple lo...